* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

#control-panel {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
}
#control-panel > div {
    flex: 1 1 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}
#control-panel textarea {
    width: 100%;
    height: 200px;
}
#control-panel button {
    width: 100%;
    font-size: 1.5rem;
}

#test-container {
    display: flex;
}
#test-container > * {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 10px;
}
@media (max-width: 767px) {
    #vdom-col {
        display: none;
    }
}
.toolbar {
    height: 35px;
    visibility: hidden;
    background: #222222;
    color: white;
}
.toolbar div.btn {
    box-sizing: content-box;
    display: inline-block;
    padding: 7px;
}
.toolbar div.active {
    background: #555555;
}

#dom {
    min-height: 500px;
    padding: 5px;
}
span.btn {
    display: inline-block;
    background-color: blue;
    padding: 15px;
    color: white;
}
.mr8 {
    margin-right: 16px;
}
td {
    border: 1px solid grey;
    padding: 6px;
}

#sample-dom {
    display: none;
}

ul.checklist > li {
    list-style: none;
    position: relative;
}
ul.checklist > li:not(.nested):before {
    content: '';
    position: absolute;
    left: -20px;
    display: block;
    height: 14px;
    width: 14px;
    top: 1px;
    border: 1px solid;
    cursor: pointer;
}
ul.checklist > li:not(.nested):after {
    content: '';
    position: absolute;
    left: -18px;
    font-size: 16px;
    opacity: 0;
    cursor: pointer;
}
ul.checklist > li.checked:before {
    content: "✓";
    transition: opacity .5s;
    opacity: 1;
}
li.nested {
    display: block;
}


