* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    line-height: unset;
}

/*control panel*/

#control-panel {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
}
#control-panel > div {
    flex: 1 1 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}
#control-panel > div:last-child {
    max-width: 260px;
}
#control-panel textarea {
    width: 100%;
    height: 300px;
}
#control-panel button {
    width: 100%;
    font-size: 1.5rem;
}

/* local storage*/
#saved-html {
    padding: 2px 16px;
}
#save-c-html-button, #save-i-html-button{
    display: none;
}
#saved-html-list a {
    display: block;
    padding: 2px 16px;
}

/**/

#test-container {
    display: flex;
}
#test-container > * {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 10px;
}
@media (max-width: 767px) {
    #vdom-col {
        display: none;
    }
}
.toolbar {
    position: absolute;
    visibility: hidden;
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background: #222222;
    color: white;
    border-radius: 8px;
}
.toolbar.toolbar-bottom::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: var(--arrow-left-pos);
    top: var(--arrow-top-pos);
    border: transparent 10px solid;
    border-bottom: #222222 10px solid;
    z-index: -1;
}
.toolbar:not(.toolbar-bottom)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: var(--arrow-left-pos);
    top: var(--arrow-top-pos);
    border: transparent 10px solid;
    border-top: #222222 10px solid;
    z-index: -1;
}
.toolbar .button-group {
    display: inline-block;
    margin-right: 13px;
}
.toolbar .button-group:last-of-type {
    margin-right: 0;
}
.toolbar div.btn {
    box-sizing: content-box;
    display: inline-block;
    padding: 7px;
}
.toolbar div.active {
    background: #555555;
}

#dom {
    min-height: 500px;
    padding: 5px;
}
span.btn {
    display: inline-block;
    background-color: blue;
    padding: 15px;
    color: white;
}
.mr8 {
    margin-right: 16px;
}
td {
    border: 1px solid grey;
    padding: 6px;
}

#sample-dom {
    display: none;
}

ul.checklist > li {
    list-style: none;
    position: relative;
    z-index: -1;
}
ul.checklist > li:not(.nested):before {
    content: '';
    position: absolute;
    left: -20px;
    display: block;
    height: 14px;
    width: 14px;
    top: 1px;
    border: 1px solid;
    cursor: pointer;
}
ul.checklist > li:not(.nested):after {
    content: '';
    position: absolute;
    left: -18px;
    font-size: 16px;
    opacity: 0;
    cursor: pointer;
}
ul.checklist > li.checked:before {
    content: "✓";
    transition: opacity .5s;
    opacity: 1;
}
li.nested {
    display: block;
}


