.odoo-editor {
    box-sizing: border-box;
}

.odoo-editor.toolbar {
    position: absolute;
    visibility: hidden;
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background: #222222;
    color: white;
    border-radius: 8px;
    z-index: 1051;
}
.odoo-editor.toolbar.toolbar-bottom::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: var(--arrow-left-pos);
    top: var(--arrow-top-pos);
    border: transparent 10px solid;
    border-bottom: #222222 10px solid;
    z-index: 0;
}
.odoo-editor.toolbar:not(.toolbar-bottom)::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: var(--arrow-left-pos);
    top: var(--arrow-top-pos);
    border: transparent 10px solid;
    border-top: #222222 10px solid;
    z-index: -1;
}
.odoo-editor.toolbar .button-group {
    display: inline-block;
    margin-right: 13px;
}
.odoo-editor.toolbar .button-group:last-of-type {
    margin-right: 0;
}
.odoo-editor.toolbar .btn {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 7px;
    color: white;
}
.odoo-editor.toolbar .btn:hover {
    background: #868686;
}
.odoo-editor .dropdown-menu .btn {
    background: #222222;
}
.odoo-editor.toolbar .btn.active {
    background: #555555;
}
.odoo-editor .tablepicker {
    margin: -3px 2px -6px 2px;
    width: max-content;
    width: -webkit-max-content;
}
.odoo-editor .tablepicker .tablepicker-row .tablepicker-cell {
    background: white;
    width: 5px;
    height: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.odoo-editor .tablepicker .tablepicker-row .tablepicker-cell:last-of-type {
    margin-right: 0;
}
.odoo-editor .tablepicker .tablepicker-row .tablepicker-cell.active {
    background: #ddeafb;
    border-color: #c3d9ff;
}
.odoo-editor .tablepicker-size {
    margin-top: 7px;
}
.odoo-editor .dropdown-toggle {
    background: transparent;
    border: none;
    padding: 7px;
}
.odoo-editor .dropdown-toggle[aria-expanded="true"] {
    background: #555555;
}
.odoo-editor .dropdown-menu {
    background: #222222;
    min-width: max-content;
    min-width: -webkit-max-content;
    text-align: center;
}
.odoo-editor .dropdown-item {
    background: transparent;
    color: white;
}
.odoo-editor .dropdown-item pre,
.odoo-editor .dropdown-item h1,
.odoo-editor .dropdown-item h2,
.odoo-editor .dropdown-item h3,
.odoo-editor .dropdown-item h4,
.odoo-editor .dropdown-item h5,
.odoo-editor .dropdown-item h6,
.odoo-editor .dropdown-item blockquote {
    margin: 0;
    color: white;
}
.odoo-editor li > a.dropdown-item {
    color: white;
}
.odoo-editor .dropdown-item:hover, .dropdown-item:focus {
    color: white;
    background: #868686;
}
.odoo-editor .dropdown-item.active, .dropdown-item:active {
    color: white;
    background: #555555;
}

.odoo-editor #dom {
    min-height: 500px;
    padding: 5px;
}
.odoo-editor span.btn {
    display: inline-block;
    background-color: blue;
    padding: 15px;
    color: white;
}
.odoo-editor .mr8 {
    margin-right: 16px;
}
.odoo-editor td {
    border: 1px solid grey;
    padding: 6px;
}

.odoo-editor ul.checklist > li {
    list-style: none;
    position: relative;
    margin-left: 20px;
}
.odoo-editor ul.checklist > li:not(.nested):before {
    content: '';
    position: absolute;
    left: -20px;
    display: block;
    height: 14px;
    width: 14px;
    top: 1px;
    border: 1px solid;
    cursor: pointer;
}
.odoo-editor ul.checklist > li.checked:after {
    content: "✓";
    transition: opacity .5s;
    position: absolute;
    left: -18px;
    top: -1px;
    opacity: 1;
}
.odoo-editor li.nested {
    display: block;
}

/* hide color input because it's ugly */

.odoo-editor.toolbar label {
    display: inline-block;
}

.odoo-editor.toolbar label span {
    display: inline-block;
}

.odoo-editor.toolbar input[type="color"] {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    top: 100%;
    margin: 2px 0 0;
}

.odoo-editor #colorInputButtonGroup label {
    margin-bottom: 0;
}
.odoo-editor .color-indicator {
    background-color: transparent;
    padding-bottom: 4px;
}
.odoo-editor .color-indicator.fore-color {
    border-bottom: 2px solid var(--fore-color);
    padding: 5px;
}
.odoo-editor .color-indicator.hilite-color {
    border-bottom: 2px solid var(--hilite-color);
    padding: 5px;
}
